<!DOCTYPE HTML>
<html>
	<head>
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="/assets/css/main.css" />

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
							<h1>Meal Plan</h1>
							<p>by Alex Zdyb</p>
						</header>
						<footer>
							<ul>
								<li><a class="nav-link active" href="addfood">Add food to db</a></li>
								<li><a class="nav-link" href="update">Update food in db</a></li>
								<li><a class="nav-link" href="burn">Add Exercise</a></li>
								<li><a class="nav-link" href="contact">Contact</a></li>
								<li><a class="nav-link" href="chat">Support</a></li>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
